// @backgroundColor: #002f58;
@backgroundColor: #ffffff;
// @textColor: #fff;
@textColor: #000;
@titleColor: yellow;
@shadowColor: #000;
// @shadow: 2px 2px 0px @shadowColor;
@shadow: 0px none;
// @titleShadow: 4px 4px 0px @shadowColor;
@titleShadow: 0px none;
@titleFont: tahoma, arial, sans-serif;
@textFont: tahoma, arial, sans-serif;
