@titleFont: tahoma, arial, sans-serif;
@textFont: tahoma, arial, sans-serif;

// Blue Background, white text, yellow title, black shadow
// @backgroundColor: #002f58;
// @textColor: #fff;
// @titleColor: yellow;
// @shadowColor: #000;
// @shadow: 2px 2px 0px @shadowColor;
// @titleShadow: 4px 4px 0px @shadowColor;

// White background, black text, black title, no shadow
@backgroundColor: #ffffff;
@textColor: #000;
@titleColor: #000;
@shadow: 0px none;
@titleShadow: 0px none;
